{% extends 'base.html' %}
{% load static %}
{% load image_helpers %}
{% block content %}

{% if profile.avatar|starts_with_http %}
    <img src="{{ profile.avatar }}" alt="Avatar" class="avatar">
{% else %}
    <img src="{% static 'defaults/' %}{{ profile.avatar }}.jpeg" alt="{{ profile.user.username }}'s Profile Picture" class="avatar">
{% endif %}

<form action="{% url 'update_avatar' profile.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <label for="img-upload"><i id="cloud-upload" class="material-icons">cloud_upload</i></label>
    <input type="file" name="photo-file" id="img-upload" hidden>
    <br><br>
    <button type="submit" class="btn">Edit Avatar</button>
</form>
<p style="font-size: 28px; margin: 0;">{{ profile.display_name }}</p>
<p style="margin: 0;">@{{ profile.user.username }}</p>

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" class="btn">
</form>

<!-- DEFAULTS -->
<form id="carousel-form" method="POST">
    {% csrf_token %}
    <div class="carousel" data-csrf-token="{{ csrf_token }}" id="carousel">
        <a class="carousel-item" href="#mimikyu">
            <div class="carousel-container">
                <img src="{% static 'defaults/mimikyu.jpg' %}" id="mimikyu" class="avatar-carousel" alt="Mimikyu">
            </div>
        </a>
        <a class="carousel-item" href="#eevee">
            <div class="carousel-container">
                <img src="{% static 'defaults/eevee.jpg' %}" id="eevee" class="avatar-carousel" alt="Eevee">
            </div>
        </a>
        <a class="carousel-item" href="#gengar">
            <div class="carousel-container">
                <img src="{% static 'defaults/gengar.jpeg' %}" id="gengar" class="avatar-carousel" alt="Gengar">
            </div>
        </a>
        <a class="carousel-item" href="#pikachu">
            <div class="carousel-container">
                <img src="{% static 'defaults/pikachu.jpeg' %}" id="pikachu" class="avatar-carousel" alt="Pikachu">
            </div>
        </a>
        <a class="carousel-item" href="#charmander">
            <div class="carousel-container">
                <img src="{% static 'defaults/charmander.jpeg' %}" id="charmander" class="avatar-carousel" alt="Charmander">
            </div>
        </a>
        <a class="carousel-item" href="#slowpoke">
            <div class="carousel-container">
                <img src="{% static 'defaults/slowpoke.jpeg' %}" id="slowpoke" class="avatar-carousel" alt="Slowpoke">
            </div>
        </a>
    </div>
</form>

<script>
     // Init Materialize Select Element
     document.addEventListener('DOMContentLoaded', () => {
        const selectFavPokemon = document.getElementById('id_favorite_pokemon')
        M.FormSelect.init(selectFavPokemon)
    })

    // Init Materialize Carousel
    $(document).ready(function(){  
        $('.carousel').carousel()
    })
    
    // thanks hayk
    const carousel = document.getElementById('carousel')
    carousel.addEventListener('click', (event) => {
        event.preventDefault()
        let id = event.target.id
        const csrfToken = carousel.getAttribute('data-csrf-token');
        console.log(id)
        $.ajax({
            url: "{% url 'default' profile.id %}",
            type: 'POST',
            data: {
                id: id,
                csrfmiddlewaretoken: csrfToken
            },
            dataType: 'json',
            headers: {
                'X-CSRF-Token': csrfToken
            },
            success: function(data) {
            if (data.success) {
                alert('Changed');
            } else {
                alert('Failed to add product to favorites.');
            }
            },
                error: function() {
                alert('Failed to add product to favorites.');
            }
        })
    })



</script>

{% endblock %}
