{% extends 'base.html' %}
{% load static %}
{% load image_helpers %}
{% block content %}
<section class="profile-page">
    <div class="avatar-container">
        {% if profile.avatar|starts_with_http %}
            <img src="{{ profile.avatar }}" alt="Avatar" class="avatar">
        {% else %}
            <img src="{% static 'defaults/' %}{{ profile.avatar }}.jpeg" alt="Avatar" class="avatar">
        {% endif %}
    </div>
    <div class="names-container">
        <div>
            <p style="font-size: 40px; margin: 4px 75px;">{{ profile.display_name }}</p>
            <p style="font-size: 18px; margin: 4px 75px;">@{{ profile.user.username }}</p>
        </div>
    </div>

    <hr id="pfp-hr">

    <div class="img-form-container">
        <form action="{% url 'update_avatar' profile.id %}" id="img-form" class="upload-img-form" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <label for="">Upload Custom Avatar</label>
            <br>
            <label for="img-upload"><i id="cloud-upload" class="medium material-icons">cloud_upload</i></label>
            <input type="file" name="photo-file" id="img-upload" hidden>
        </form>
    </div>

    <form action="" id="other-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update" class="btn form-buttons">
        <button type="submit" form="img-form" class="btn form-buttons">Edit Avatar</button>
    </form>

    <!-- <input type="button" value="submit" onclick="submitForms()"> -->

</section>

<!-- DEFAULTS -->
<form id="carousel-form" method="POST">
    {% csrf_token %}
    <div class="carousel" data-csrf-token="{{ csrf_token }}" id="carousel">
        <a class="carousel-item" href="#mimikyu">
            <div class="carousel-container">
                <img src="{% static 'defaults/mimikyu.jpeg' %}" id="mimikyu" class="avatar-carousel" alt="Mimikyu">
            </div>
        </a>
        <a class="carousel-item" href="#eevee">
            <div class="carousel-container">
                <img src="{% static 'defaults/eevee.jpeg' %}" id="eevee" class="avatar-carousel" alt="Eevee">
            </div>
        </a>
        <a class="carousel-item" href="#gengar">
            <div class="carousel-container">
                <img src="{% static 'defaults/gengar.jpeg' %}" id="gengar" class="avatar-carousel" alt="Gengar">
            </div>
        </a>
        <a class="carousel-item" href="#pikachu">
            <div class="carousel-container">
                <img src="{% static 'defaults/pikachu.jpeg' %}" id="pikachu" class="avatar-carousel" alt="Pikachu">
            </div>
        </a>
        <a class="carousel-item" href="#charmander">
            <div class="carousel-container">
                <img src="{% static 'defaults/charmander.jpeg' %}" id="charmander" class="avatar-carousel" alt="Charmander">
            </div>
        </a>
        <a class="carousel-item" href="#slowpoke">
            <div class="carousel-container">
                <img src="{% static 'defaults/slowpoke.jpeg' %}" id="slowpoke" class="avatar-carousel" alt="Slowpoke">
            </div>
        </a>
    </div>
</form>


<script>
     // Init Materialize Select Element
     document.addEventListener('DOMContentLoaded', () => {
        const selectFavPokemon = document.getElementById('id_favorite_pokemon')
        M.FormSelect.init(selectFavPokemon)
    })

    // Init Materialize Carousel
    $(document).ready(function(){  
        $('.carousel').carousel()
    })
    
    // thanks hayk
    const carousel = document.getElementById('carousel')
    carousel.addEventListener('click', (event) => {
        if (event.target.className === 'avatar-carousel') {
            event.preventDefault()
            let id = event.target.id
            const csrfToken = carousel.getAttribute('data-csrf-token');
            console.log(id)
            $.ajax({
                url: "{% url 'default' profile.id %}",
                type: 'POST',
                data: {
                    id: id,
                    csrfmiddlewaretoken: csrfToken
                },
                dataType: 'json',
                headers: {
                    'X-CSRF-Token': csrfToken
                },
                success: function(data) {
                if (data.success) {
                    // do nothing
                } else {
                    alert('Failed to save profile image.');
                }
                },
                    error: function() {
                    alert('Failed to save profile image.');
                }
            })
        }
    })

    // async function submitForms(){
    //     await document.getElementById('other-form').submit()
    //     await document.getElementById('img-form').submit()
    // }

</script>

{% endblock %}
