{% extends 'base.html' %}

{% block content %}
<div class="detail-page">
<div class="left-detail">
    <h4>#{{ dex_num }}</h4>
    <h4>{{ name }}</h4>
    <h5>{{ description }}</h5>
</div>
<div class="right-detail">
    {% for type in types %}
    <h4 id="type">{{ type }}</h4>
    {% endfor %}
    <h4>WEAKNESSES</h4>
</div>
<div class="detail-img">
    <img src="{{ image }}" alt="Image of {{ name }}">
</div>
<div class="evolution">
    <h3>EVOLUTION LINE</h3>
</div>


<div class="bottom-right">
<!-- Add Favorites -->
{% if is_favorite %}
<form id="remove_favorite" action="{% url 'remove_favorite' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="name" value="{{ name }}">
    <input type="hidden" name="image" value="{{ image }}">
    <a class="favorite-button" href="javascript:{}" onclick="document.getElementById('remove_favorite').submit();"><i class="material-icons">favorite</i></a>
</form>
{% else %}
<form id="add_favorite" action="{% url 'add_favorite' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="name" value="{{ name }}">
    <input type="hidden" name="image" value="{{ image }}">
    <a class="favorite-button" href="javascript:{}" onclick="document.getElementById('add_favorite').submit();"><i class="material-icons">favorite_border</i></a>
</form>
{% endif %}

<form action="{% url 'products' name %}" method="GET">
    <input type="submit" value="View products related to {{ name }}!" class="btn">
</form>
</div>
</div>

{% endblock %}