{% extends 'base.html' %}

{% block content %}

<h1>All Favorites</h1>

{% for pokemon in favorites %}
    <a href="">
        <div class="card">
            <div class="card-content">
                <img src="{{ pokemon.image }}" alt="Image of {{ pokemon.name }}">
                <span class="card-title">{{ pokemon.name }}</span>
                <form action="{% url 'remove_favorite' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="name" value="{{ pokemon.name }}">
                    <input type="hidden" name="image" value="{{ pokemon.image }}">
                    <input type="submit" value="Remove Favorite" class="btn">
                </form>
                <form action="" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="shiny" class="shinybtn">
                        <img src="https://cdn-icons-png.flaticon.com/256/2267/2267359.png" alt="shiny" class="shinyimg">
                    </button>
                </form>
            </div>
        </div>
    </a>
{% endfor %}

{% endblock %}