{% extends 'base.html' %}

{% block content %}

<style>
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    background-color: gold;
    border: 2px solid black;
    padding: 5px;
    cursor: pointer;
  }

</style>

<form action="{% url 'more_products' name %}" method="GET">
    <input type="submit" value="More Stuff!" class="btn">
</form>

{% for image, url in images_and_urls %}
<div class="image-container">
    <a href="{{ url }}" target="_blank">
        <img src="{{ image }}" alt="Product Image">
    </a>
    <button class="favorite-button"></button>
</div>

{% endfor %}

{% endblock %}