{% extends 'base.html' %}

{% block content %}

<form action="{% url 'more_products' name %}" method="GET">
    <input type="submit" value="More Stuff!" class="btn">
</form>

{% for item in items %}
<div class="products-image-container">
    <a href="{{ item.url }}" target="_blank">
        <img src="{{ item.image }}" alt="Product Image" class="product-image">
    </a>
    {% if item.is_wishlist_item %}
    <form id="remove_wishlist_item" action="{% url 'remove_wishlist_item' item.is_wishlist_item %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="url" value="{{ item.url }}">
        <input type="hidden" name="image" value="{{ item.image }}">
        <!--Need to change to a different icon-->
        <a class="favorite-button" href="javascript:{}" onclick="document.getElementById('remove_wishlist_item').submit();"><i class="material-icons">favorite</i></a>
    </form>
    {% else %}
    <form id="add_wishlist_item" action="{% url 'add_wishlist_item' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="url" value="{{ item.url }}">
        <input type="hidden" name="image" value="{{ item.image }}">
        <a class="favorite-button" href="javascript:{}" onclick="document.getElementById('add_wishlist_item').submit();"><i class="material-icons">favorite_border</i></a>
    </form>
    {% endif %}
</div>

{% endfor %}

{% endblock %}