{% extends 'base.html' %}

{% block content %}
<div class="detail-page">
    <div class="left-detail">
        <h4 style="font-size: 20px; margin: 0;">#{{ dex_num }}</h4>
        <h4 style="font-size: 48px; margin-top: 0;">{{ name.upper }}</h4>
        <form action="{% url 'update_shiny' %}" method="POST">
            {% csrf_token %}
            <button id="shinytoggle" type="submit" name="shiny" class="fav-btn-show" title="Shiny!">
                <input type="hidden" name="name" value="{{ name }}">
                <img src="https://cdn-icons-png.flaticon.com/256/2267/2267359.png" alt="shiny">
            </button>
        </form>
        <div class="description">
            {{ description }}
        </div>

        <form action="{% url 'products' name %}" method="GET">
            <input style="margin-top: 60px;" type="submit" value="View products related to {{ name }}!" class="btn">
        </form>
    </div>
    <div class="right-detail">
        <h4 class="details-title">Types:</h4>
        {% for type, color in types %}
        <h4 class="details-info {{ type }}" id="type">{{ type.upper }}</h4>
        {% endfor %}
        <h4 class="details-title">Weaknesses</h4>
        {% for weakness, value, color in weaknesses %}
            <h4 class="details-info {{ weakness }}" id="weakness">{{ value }}x{{ weakness.upper }}</h4>
        {% endfor %}
    </div>
    <div class="detail-img">
        <img src="{{ image }}" alt="Image of {{ name }}">
    </div>
    <div class="evolution">
        <h4>Abilities: </h4>
        {% for ability in abilities %}
            <a href="https://bulbapedia.bulbagarden.net/wiki/{{ ability }}_(Ability)" target="_blank">
                <h4>&nbsp;&nbsp;{{ ability|title }}</h4>
            </a><br>
        {% endfor %}
    </div>


    <div class="bottom-right">
    </div>
</div>

{% endblock %}