{% extends 'base.html' %}

{% block content %}
<h1>{{ favorite.name }}</h1>
<img src="{{ favorite.image }}" alt="Image of {{ favorite.name }}">

<form action="{% url 'remove_favorite' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="name" value="{{ favorite.name }}">
    <input type="hidden" name="image" value="{{ favorite.image }}">
    <input type="submit" value="Remove Favorite" class="btn">
</form>
<form action="{% url 'update_shiny' %}" method="POST">
    {% csrf_token %}
    <button type="submit" name="shiny">
        <input type="hidden" name="name" value="{{ favorite.name }}">
        <img src="https://cdn-icons-png.flaticon.com/256/2267/2267359.png" alt="shiny">
    </button>
</form>

{% endblock %}