{% extends 'base.html' %}

{% block content %}

{% for wishlist_item in wishlist_items %}
<div class="wishlist-image-container">
    <a href="{{ wishlist_item.url }}" target="_blank">
        <img src="{{ wishlist_item.image }}" alt="Product Image">
    </a>
    <form action="{% url 'remove_wishlist_item' wishlist_item.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="url" value="{{ wishlist_item.url }}">
        <input type="hidden" name="image" value="{{ wishlist_item.image }}">
        <!--Need to change to a different icon-->
        <button class="favorite-button"></button>
    </form>
</div>

{% endfor %}

{% endblock %}