* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --main-dark: #050b1e;
}

/* BODY DISPLAYS */

body {
    display: flex;
    min-height: 100vh;
    /* background-image: url('https://i.imgur.com/Maswfn9.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    font-family: 'Play', sans-serif;
}

.favorite-body {
    /* background-color: rgb(32, 32, 32); */
    color: white;
}

#pfp-hr {
  grid-column: span 2;
  margin: 55px auto 35px auto;
  width: 65vw;
}

.img-form-container {
  border: 1px solid rgb(143, 143, 143);
  border-radius: 5px;
  height: 210px;
  width: 450px;
  margin-top: 25px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#img-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bodydetail {
    background-color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Play', sans-serif;

}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

.homepage {
    font-size: 300px;
    text-align: center;
    font-family: 'Play', sans-serif;
    margin-top: 40px;
    mask-border-width: 10px;
    color:rgba(255, 255, 255, 0.8);
    padding-top: 25%;
    font-size: 600px;

}

.homepage h1 {
    margin-top: 0;
}



/* FAVORITES CARDS */

.slowpoke {
    width: 1000px;
    height: 600px;
    margin-top: 0px;
    border-radius: 90px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
}

.card {
  position: relative;
  background-color: gray;
  border-radius: 20px;
  padding: 20px;
  width: 350px; 
  height: 400px; 
  margin: 10px;
}

.image-container{
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.pokemonimg {
  width: 175px; 
  height: 200px; 
  margin: 10px;
}

.card-title-style {
  text-align: left;
  margin: 0;
  padding: 10px 10px 20px 50px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 1;
}


.btn {
  background-color: var(--main-dark);
  cursor: pointer;
  border-radius: 50px;
  margin-top: 10px;
}

.btn:hover {
    background-color: rgba(123, 110, 110, 0.2);
    cursor: pointer;
}

.shinybtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    outline: none;
    border-color: silver;
    border-radius: 50px;
    background-color: transparent;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

.shinybtn:hover {
    background-color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.shinyimg {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

h1 {
    text-align: center;
}

#search {
    background: transparent;
    padding-left: 50px;
    color: #fff;
    border-bottom: 1px solid #fff;
    box-shadow: none;
    outline: none;
    width: 700px;
    margin: 30px auto;
}

#home-search-icon {
    margin-top: 10px;
    margin-left: 210px;
}


/* ======- Nav Bar -====== */
.nav-wrapper {
  background-color: var(--main-dark);
}

.navatar {
  margin-right: -10px;
  margin-top: 10px;
  border: 1.5px solid #fff;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  object-fit: cover;
}

#search-nav {
    background: transparent;
    padding-left: 50px;
    color: #fff;
    border-bottom: 1px solid #fff;
    box-shadow: none;
    outline: none;
    width: 150px;
}

#nav-icon {
    margin-top: -15px; 
    margin-left: -5px;
    color: white;
}

#search-nav:not(:focus) {
    border-bottom: none;
}

#search-nav:focus {
    border-bottom: 1px solid #fff;
}
/* ======- Edit Profile Page  -====== */

/* Main Section */
.profile-page {
  margin-top: 35px;
  display: grid;
  grid-template-columns: .66fr .85fr;
}

.names-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar-container {
  display: flex;
  justify-content: center;
}

.avatar {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  object-fit: cover;
  border: 3px solid var(--main-dark);
}

.upload-img-form {
  height: 15px;
}

.carousel-container {
  height: 200px;
  width: 200px;
}

.avatar-carousel {
  border-radius: 50%;
  height: 175px;
  width: 175px;
  object-fit: cover;
}

#cloud-upload {
    cursor: pointer;
    color: var(--main-dark);
}

#cloud-upload:hover {
  color: rgb(143, 143, 143);
}

/* show and detail page */


.left-detail {
    position: absolute;
    top: 150px;
    left: 150px;
}
.left-detail h4 {
    text-align: left;
}
.description {
    text-align: left;
    padding-top: 30%;
    font-size: 20px;
    inline-size: 150px; 
}

.right-detail {
    position: absolute;
    top: 150px;
    right: 150px;
}

.detail-img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 80%;
}

.detail-img img {
    margin-top: 20%;
    max-width: 390px; /* Adjust the value as needed */
    max-height: 390px;
}

.evolution {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.bottom-right {
    position: relative;
    text-align: right;
}

.bottom-right form {
    display: block;
    margin-bottom: 10px;
    margin-left: auto; 
    margin-right: 0; 
}

.fav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    margin-top: 70%;
    border: 2px solid rgb(5, 37, 21);
    max-width: 100%;
    max-height: 100%;
}

.fav-btn img {
    width: 100px;
    height: 100px;
}

.fav-btn:hover {
    background-color: rgba(123, 110, 110, 0.2);
}

.remove-fav-btn {
    margin-top: 40%;
}


.btn-fav {
    background-color: rgb(5, 37, 21);
    border-radius: 50px;
    margin-top: 10px;
    color: rgb(246, 255, 246);
    position: absolute;
    bottom: 220px;
    right: 100px;
    width: 300px;
    height: 40px;
}

.btn-fav:hover {
    background-color: rgba(123, 110, 110, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, cursor 0.3s ease;
}


.bg-image-404 {
    background-image: url('../images/404.jpg');
    height: 90vh;
    width: 100%;
}




/* PRODUCTS PAGE */
.products-image-container {
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 1% 1%;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(91, 91, 91);
    border-radius: 20px;
  }

  
  .favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    padding: 10px;
    cursor: pointer;
    color: rgb(238, 238, 240);
  }

  .product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media (max-width: 576px) {
    .products-image-container {
      width: 100%;
      padding: 10px;
    }
  }




  /* wishlist page */


  .wishlist-image-container {
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 1% 1%;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(91, 91, 91);
    color: rgb(255, 255, 255);
    border-radius: 20px;
  }
  
  .favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    padding: 5px;
    cursor: pointer;
    color: rgb(220, 24, 24);
  }

  @media (max-width: 576px) {
    .wishlist-image-container {
      width: 24%;
    }
  }
